name: Build and Deploy

on:
  push:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Get Version
      id: version
      run: |
        if [[ $GITHUB_REF == refs/tags/* ]]; then
          arrTag=(${GITHUB_REF//\// })
          VERSION="${arrTag[2]}"
          VERSION="${VERSION//v}"
        else
          VERSION="latest"
        fi
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    
    - uses: actions/checkout@v3

    - name: Create .env.production for Vite
      run: |
        cat > ClientApp/.env.production <<EOF
        VITE_NOTIFICATION_HUB_URL=http://localhost:5000
        VITE_PORT=3002
        VITE_BASE=/dashboard/
        EOF

    - name: Show env file
      run: cat ClientApp/.env.production

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: docker.io
        username: deannguyen220
        password: ^_-.-ek4_9#4JF^
    
    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: deannguyen220/simple-rdbms-rest-api
        tags: |
          type=raw,value=${{ steps.version.outputs.version }}
          type=sha,prefix=
    
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}
        format: table
        ignore-unfixed: true
        exit-code: 0
        severity: CRITICAL

    # This ugly bit is necessary if you don't want your cache to grow forever
    # See https://github.com/docker/build-push-action/issues/252
    # And https://github.com/moby/buildkit/issues/1896
    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache